@import blocks/_library

body
    font-family: 'Open Sans', 'Arial', 'Verdana', 'Tahoma', 'Cambria', 'Calibri', sans-serif
    font-size: 16px
    line-height: 24px

@import blocks/_wrapper
@import blocks/_tarif
@import blocks/_zone
@import blocks/_technology
@import blocks/_footer